@import '../_variables';


.module {
  display: flex;
  flex: 1;
  position: relative;
  margin: 0 auto;
  padding: $base;

  // helpers
  &.top {
    top: 0;
    align-self: flex-start;
  }

  &.bottom {
    bottom: 0;
    align-self: flex-end;
  }

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }

  &.fixed {
    position: fixed;
  }

  &.absolute {
    position: absolute;
  }

  &.centered {
    justify-content: center;
    align-items: center;
    min-height: $fluid-three-quarters;
  }

  // common

  &.loading {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: $fluid-full;
    width: $full;
    align-items: center;
    justify-content: center;

    .loader.image {
      width: $half;
      margin: auto;
    }
  }

  &.logo {
    padding: $mini;
    text-align: center;

    .logo {
      margin: 0;
      text-decoration: none;
    }
  }

  &.copyright {
    padding: $micro;

    .copyright {
      color: $gray-light;
      font-size: $tiny;
      text-align: center;
    }
  }

  // core

  &.greeting {
    text-align: center;

    .greeting {
      margin: 0;
    }
  }
}